{% extends "base.html"%}


{% block title%} Customer Contact List {% endblock %}

{% block content %}


<div >

    <h1><b>Customer List</b></h1>
    <p></p>
</div>
<ul>
<a href="{% url 'createcustomerform' %}" class="btn btn-primary" role="button"  ><span class="glyphicon glyphicon-pencil" aria-hidden="true" >Create New Customer</span></a>

<p></p>
<table border="1" class="table table-list" align="left">
     <tr>
     	<th>ID</th>
     	<th>Name</th>
     	<th>City</th>
     	<th>Email</th>
     	<th>Phone</th>

     </tr>
     <tr>
     {% for partner in partners %}
     <td id="partner.id"> {{partner.id}} </td>
     <td id="partner.name"> {{partner.name}} </td>
     <td id="partner.city"> {{partner.city}} </td>
     <td id="partner.email"> {{partner.email}} </td>
     <td id="partner.phone"> {{partner.phone}} </td>
  
     <td><a href=" {% url 'delete'  %}" class="btn btn-danger" role="button" type="object" name="unlink" confirm="Are you sure you want to delete" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
   
     <!-- 
     <td>
        <form method="POST" action="{% url 'delete' %}">
         {% csrf_token%} <input type="submit" value="Delete" class="btn btn-danger">
         <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </form>
     </td>
     -->

     <td><a href="#" class="btn btn-primary" role="button" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
     </tr>
{% endfor %}
</table>
</ul>
{% endblock %}
