{% extends "base.html"%}



{% block title%} Products {% endblock %}


{% block content %}
<div>
    <h1>Products in store</a></h1>
</div>
<ul>
<table border="1">
     <tr>
     	<th>ID</th>
     	<th>Name</th>
     	<th>Description</th>
     	<th>Type</th>
     	<th>Price</th>

     </tr>
     <tr>
     {% for product in products %}
     <td> {{product.id}} </td>
     <td> {{product.name}} </td>
     <td> {{product.description}} </td>
     <td> {{product.type}} </td>
     <td> {{product.list_price}} </td>
     <td><a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
     <td><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
     </tr>
{% endfor %}
</table>
</ul>
{% endblock %}