{% extends "base.html"%}



{% block title%} Sales Order {% endblock %}


{% block content %}
<div>
    <h1>Sales Order Line</h1>
</div>
<ul>
<table border="1" class="table">
     <tr>
     	<th>ID</th>
     	<th>Name</th>
     	<th>Quantity</th>
     	<th>Price</th>
     	<th>Subtotal</th>
     	<th>total</th>
     	<th>product ID</th>

     </tr>
     <tr>
     {% for sale in sales %}
     <td> {{sale.id}} </td>
     <td> {{sale.name}} </td>
     <td> {{sale.product_uom_qty}} </td>
     <td> {{sale.price_unit}} </td>
     <td> {{sale.price_subtotal}} </td>
     <td> {{sale.price_total}} </td>
     <td> {{sale.product_id}} </td>

     <td><a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
     <td><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
     </tr>
{% endfor %}
</table>
</ul>
{% endblock %}
